:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.app-shell {
  height: calc(100vh - 64px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  
  &.auth-page {
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
